<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <label>Username</label>
      <input type="text" class="form-control" [(ngModel)]="username">
      <button class ="btn btn-primary" (click)="deleteUsername()"> Reset User</button>
    </div>

    <div>
      <p [ngStyle]="{backgroundColor: getColor()}" *ngIf="username">Username: {{ username }}</p>
    </div>
    <div>
      <p  [ngStyle]="{color: getColor()}" *ngIf="deleteMessage">{{ deleteMessage }}</p>
    </div>
  </div>
</div>
<button
  class="btn btn-primary"
  (click)="OncreateStudent()">
  Add new Student
</button>
<p *ngFor="let student of students; let i= index" [ngStyle]="{backgroundColor: getColor()}"> Student number {{i + 1 }} named {{student}} </p>

